@charset "UTF-8";

html {
  box-sizing: border-box;
  background-color: rgb(51, 51, 51);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: white;
}

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

  div{
    width: 80%;
    border-bottom: solid white 1px;
    padding-bottom: 3em;
    margin-right: auto;
    margin-left: auto;
  }

  /*CSS fyrir script.js */

  div:nth-of-type(4){
    border-bottom: transparent;
  }

  img{
    cursor: pointer;
    padding-top: 1em;
    max-width: 48%;
  }


  img:nth-of-type(3){
    margin-right: auto;
    margin-left: 1%;
  }

  row1{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  row2{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
  }

  row3{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
  }

  text1{
    display: block;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0.5em;
    font-size: 42px;
    font-weight: bold;
  }

  text1:before{
    display: block;
    margin-bottom: 1em;
    font-size: 38px;
    content: "Myndbandaleigan";
  }

  text2{
    display: block;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0.5em;
    font-size: 42px;
    font-weight: bold;
  }

  text3{
    display: block;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0.5em;
    font-size: 42px;
    font-weight: bold;
  }

  #time1, #title1, #created1, #time2, #title2, #created2, #time11, #title11, #created11,
  #time3, #title3, #created3, #time4, #title4, #created4, #time22, #title22, #created22,
  #time33, #title33, #created33, #time44, #title44, #created44{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 0em;
    margin-left: 1%;
  }

  /*CSS fyrir videoplayer.js */

  button{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 10em;
    height: 9em;
    background-color: transparent;
    border: transparent;
    outline: none;
  }

  p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    padding-bottom: 1em;
  }


  .videoplaying{
    position: relative;
    border: transparent;
    padding-bottom: 0em;
  }

  .controls{
    display: flex;
    justify-content: center;
    align-items: center;
    border: transparent;
    padding-bottom: 0.3em;
  }

  .playbutton{
    border: transparent;
    padding: 0;
  }

  .playbutt {
    position: absolute;
       left: 50%;
       top: 47%;
       transform: translate(-50%, -50%);
       max-height: 5em;
       max-width: 5em;
  }

  #title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  #videoplay{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

#unmute{
  display:none;
}

#pause{
  display:none;
}

#play{
  display: flex;
  justify-content: center;
  align-items: center;
}
